{% extends "base.html" %}
{% block title %}Post Archive{% endblock %}
{% block content %}
    <div id="content">
        <h1>Post Archive until {% now "N d, Y" %}</h1>
        <ul>
            {% for date in date_list %}
                <li style="display:inline-block; margin-right:1em">
                    <a href="{% url 'blog:post_year_archive' date|date:'Y' %}">
                        Year={{ date|date:'Y' }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <br>
        <div>
            <ul>
                {% for post in object_list %}
                    <li>
                        {{ post.modify_date|date:'Y-m-d' }} &nbsp;
                        <a href="{{ post.get_absolute_url }}"><strong>{{ post.title }}</strong></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}

{% block footer %}
    <div id="footer">&copy; Django for Python 2019.</div>
{% endblock %}