{% extends "base.html" %}
{% block title %}Blog Detail{% endblock %}
{% block content %}
    <div id="content">
        <h2>{{ object.title }}</h2>
        <hr>
        <p class="other_posts" style="display:block; padding:0 1em 1em">
            {% if object.get_previous_by_modify_date %}
            <a href="{{ object.get_previous_post.get_absolute_url }}" title="View Previous Post" style="float:left;">
                &laquo;-- {{ object.get_previous_post }}
            </a>
            {% endif %}

            {% if object.get_next_by_modify_date %}
            <a href="{{ object.get_next_post.get_absolute_url }}" title="View Next Post" style="float:right">
                {{ object.get_next_post }} --&raquo;
            </a>
            {% endif %}
        </p>
        <hr style="clear:both; display:block">
        <p class="date">{{ object.modify_date|date:"j F Y" }}</p>
        <br>
        <div class="body">
            {{ object.content|linebreaks }}
        </div>
    </div>
{% endblock content %}

{% block footer %}
    <div id="footer">&copy; Django for Python 2019.</div>
{% endblock %}